body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: gray;


}
.caja_m{
    background: teal;

}
.caja_m h2{
    color: black;
}
.contenedorPadre{
    
    background: black;
    width: 70%;
    margin: auto;
}  

h2{
    color: white;
    padding: 15px;
    font-weight: bold;
    font-size: 38px ;
    
    background: rgba(228, 208, 208, 0.452);
}
.contenedor{
    font-size: 18px;
    color: white;
}