body{
    text-align: center;
}

.contenedorPadre{
    background: black;
    width: 70%;
    margin: auto;
}  

h2{
    color: white;
    padding: 5px;
    font-weight: bold;
}
.contenedor{

    color: white;
}